@page "/"
<PageTitle>Home</PageTitle>

<div class="container">
    <div class="image-container">
        <img src="library.jpg" alt="library" class="intro-image"/>
        <p class="image-text">Welcome To The Library</p>
    </div>
</div>